/* Contenedor de las tarjetas de productos */
.productContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
  }
  
  /* Tarjeta de producto */
  .productCard {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #1e293b; /* Gris oscuro */
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    text-align: center;
  }
  
  .productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.15);
  }
  
  /* Imagen del producto */
  .productCard img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  /* Nombre del producto */
#product-name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  /* Precio del producto */
#product-price{
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 12px;
  }
  
