.body {
    display: flex;
    color: #303f2a;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    text-align: center;
}

.presentation {
    margin-top: 10rem;
    background-color: #f5f5fa;
    color: #303f2a; 
    margin-bottom: 10rem;
}

.presentation h2 {
    padding-top: 20px;
    color: #303f2a;
    font-size: xx-large;
}

.presentation p {
    padding: 10px 90px 30px 90px;
    font-size:x-large;
}