#root {
  max-width: 100%;
  margin: 0;
}

/* Ubicación del body */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.body h1 {
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
}

/* Botón de vaciar carrito */
.botonVaciar {
  background-color: #303f2a;
  border-color: #303f2a;
  color: #f5f5fa;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  position: fixed;
}

.botonVaciar:hover {
  background-color: #f5f5fa;
  border-color: #303f2a;
  color: #303f2a;
}

.header-container {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  padding: 10px 20px;        /* Agrega espacio alrededor */
  position: absolute;
  top: 1.5rem;
  right: 6rem;
  z-index: 1000;
}